<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  <pre><code>
window.EP = window.EmberPresentation = Ember.Application.create
  watchlist: null

EP.WatchlistController = Ember.Controller.extend
  watchlist: null
  watchlistBinding: &quot;EP.watchlist&quot;

  retrieve: -&gt;
    WatchlistService.retrieve()

  updateQuotes: -&gt;
    QuoteService.updateQuotes()
  </code></pre>
</section>
<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  <pre><code>
EmberPresentation.WatchlistView = EP.ComponentView.extend
  controllerClass: EP.WatchlistController
  template: Ember.Handlebars.compile &quot;&quot;&quot;
  &#123;{#if watchlist}}
    &lt;h4&gt;&#123;{watchlist.name}}&lt;/h4&gt;
    &lt;ul&gt;
      &#123;{#each watchlist.quotes}}
        &lt;li&gt;&#123;{symbol}} &amp;mdash; &#123;{last}}&lt;/li&gt;
      &#123;{/each}}
    &lt;/ul&gt;
    &lt;button class=&quot;btn&quot; &#123;{action &quot;updateQuotes&quot;}}&gt;Update Quotes&lt;/button&gt;
  &#123;{else}}
    &lt;p&gt;Retrieve the watchlist!&lt;/p&gt;
    &lt;button class=&quot;btn&quot; &#123;{action &quot;retrieve&quot;}}&gt;Retrieve&lt;/button&gt;
  &#123;{/if}}
&quot;&quot;&quot;
  </code></pre>
</section>
<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  <pre><code>
window.QuoteService = (-&gt;
  cache = &#123;}

  findOrCreate = (symbol) -&gt;
    quote = cache[symbol]
    return quote if quote?

    quote = EP.Quote.create
      symbol: symbol
    cache[symbol] = quote
    quote

  &#123;
    get: -&gt;
      if arguments.length == 1
        findOrCreate(arguments[0])
      else
        quotes = []
        for symbol in arguments
          quotes.push(findOrCreate(symbol))
        quotes

    update: -&gt;
      _.each cache, (quote, symbol) -&gt;
        quote.update()
  }
)()
  </code></pre>
</section>
<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  <pre><code>
window.WatchlistService =
  retrieve: -&gt;
    return if EP.watchlist?

    wl = EP.Watchlist.create
      name: &apos;My Favorite Stocks&apos;
      quotes: Ember.A(QuoteService.get(&apos;INTL&apos;, &apos;AAPL&apos;, &apos;MSFT&apos;, &apos;IBM&apos;))

    EP.set &apos;watchlist&apos;, wl

EmberPresentation.Watchlist = Ember.Object.extend 
  name: null
  quotes: null
  </code></pre>
</section>
<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  <pre><code>
EmberPresentation.Quote = Ember.Object.extend
  symbol: null
  last: null

init: -&gt;
  @_super()
  @update()

update: -&gt;
  @setProperties
    last: Math.random() * 100
  </code></pre>
</section>
<section>
  <h2>Bindings</h2>
  <h3>Cascading Example</h3>
  {{view EP.WatchlistView}}
</section>
