<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <pre><code>
EP.QuoteTileView = Ember.View.extend
  tagName: &apos;table&apos;
  classNames: [&apos;quote-tile&apos;]
  quote: null

  template: Ember.Handlebars.compile &quot;&quot;&quot;
&lt;tbody&gt;
  &lt;tr&gt;
    &lt;th&gt;Sym&lt;/th&gt;&lt;td&gt;&#123;{view.quote.symbol}}&lt;/td&gt;
  &lt;/tr&gt;&lt;tr&gt;
    &lt;th&gt;Last&lt;/th&gt;
    &lt;td&gt;&#123;{view EP.QVV valueBinding=&quot;view.quote.lastRounded&quot;}}&lt;/td&gt;
  &lt;/tr&gt;&lt;tr&gt;
    &lt;th&gt;Avg&lt;/th&gt;
    &lt;td&gt;&#123;{view EP.QVV valueBinding=&quot;view.quote.average&quot;}}&lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
  &quot;&quot;&quot;
  </code></pre>
</section>

<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <pre><code>
EP.QuoteTilesView = Ember.CollectionView.extend
  classNames: &apos;row&apos;
  itemViewClass: Ember.View.extend
    classNames: &apos;span3&apos;
    template: Ember.Handlebars.compile &quot;&quot;&quot;
      &#123;{view EP.QuoteTileView quoteBinding=&quot;view.content&quot;}}
    &quot;&quot;&quot;
  </code></pre>
  <pre><code class='html'>
&lt;div class=&quot;container&quot;&gt;
  &#123;{view EP.QuoteTilesView contentBinding=&quot;EP.watchlist.quotes&quot;}}
&lt;/div&gt;
  </code></pre>
</section>

<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <p>
  <div class="container">
    {{view EP.QuoteTilesView contentBinding="EP.watchlist.quotes"}}
  </div>
  <br/>
  <button class="btn btn-large" {{action indexUpdateQuotes}}>Update Quotes</button>
  </p>
</section>
