<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <pre><code>
EP.QuoteTileView = Ember.View.extend
  tagName: &apos;table&apos;
  classNames: [&apos;quote-tile&apos;] 
  quote: null

  template: Ember.Handlebars.compile &quot;&quot;&quot;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;th&gt;Sym&lt;/th&gt;&lt;td&gt;&#123;{view.quote.symbol}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th&gt;Last&lt;/th&gt;
      &lt;td&gt;&#123;{view EP.QVV valueBinding=&quot;view.quote.lastRounded&quot;}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th&gt;Avg&lt;/th&gt;
      &lt;td&gt;&#123;{view EP.QVV valueBinding=&quot;view.quote.average&quot;}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
  &quot;&quot;&quot;
  </code></pre>
</section>

<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <pre><code class='html'>
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &#123;{#each quote in EP.watchlist.quotes}}
      &lt;div class=&quot;span3&quot;&gt;
        &#123;{view EP.QuoteTileView quoteBinding=&quot;quote&quot;}}
      &lt;/div&gt;
    &#123;{/each}}
  &lt;/div&gt;
&lt;/div&gt;
  </code></pre>
</section>

<section>
  <h2>Composing Components</h2>
  <h3>Quote Cards</h3>
  <p>
  <div class="container">
    <div class="row">
      {{#each quote in EP.watchlist.quotes}}
        <div class="span3">{{view EP.QuoteTileView quoteBinding="quote"}}</div>
      {{/each}}
    </div>
  </div>
  <br/>
  <button class="btn btn-large" {{action indexUpdateQuotes}}>Update Quotes</button>
  </p>
</section>
