<section>
  <h1>Ember JS</h1>
  <h3>From a QF Perspective</h3>
</section>

<section>
  <h2>QF Perspective</h2>
  <h3>We'll go over</h3>
  <ul>
    <li>Bindings</li>
    <li>Observers and Computed Properties</li>
    <li>Components</li>
    <li>Composing Components</li>
    <li>Gotchas</li>
  </ul>
</section>

{{view EP.SimpleBindingSlideView}}

{{view EP.CascadeBindingSlideView}}

{{view EP.ObserversSlideView}}
